
.vscode/tasks.json
.vscode/launch.json
2 Semestre/Sistemas Embarcados (C)/Aula 3/Lucas Ferrari - Exercicio 01
2 Semestre/Sistemas Embarcados (C)/Aula 3/Lucas Ferrari - Exercicio 02
2 Semestre/Sistemas Embarcados (C)/Aula 3/Lucas Ferrari - Exercicio 03
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 1
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 2
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 3
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 4
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 5
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1 - andre.py
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1.py
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1 - andre.py
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1 - andre.py
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1.py
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1 - andre.py
2 Semestre/Programacao de Computadores/Aula 5/Avaliacao 1.py
2 Semestre/Sistemas Embarcados (C)/Aula 7/Exercicio 13
2 Semestre/Sistemas Embarcados (C)/Aula 7/Exercicio 14
2 Semestre/Sistemas Embarcados (C)/Aula 7/Exercicio 15
