
.vscode/tasks.json
.vscode/launch.json
2 Semestre/Sistemas Embarcados (C)/Aula 3/Lucas Ferrari - Exercicio 01
2 Semestre/Sistemas Embarcados (C)/Aula 3/Lucas Ferrari - Exercicio 02
2 Semestre/Sistemas Embarcados (C)/Aula 3/Lucas Ferrari - Exercicio 03
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 1
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 2
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 3
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 4
2 Semestre/Sistemas Embarcados (C)/Aula 4/Exercicio 5
